@import "normalize.scss";
@import "fontello.scss";
@import "base.scss";
@import "compass/css3";

@font-face {
	font-family: 'Sintony';
	src: url('../font/Sintony-Regular.eot'); 
    src: url('../font/Sintony-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Sintony-Regular.svg#Sintony') format('svg'),
         url('../font/Sintony-Regular.woff') format('woff'),
         url('../font/Sintony-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
	font-family: 'Sintony';
	src: url('../font/Sintony-Bold.eot'); 
    src: url('../font/Sintony-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Sintony-Bold.svg#Sintony-Bold') format('svg'),
         url('../font/Sintony-Bold.woff') format('woff'),
         url('../font/Sintony-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

$normalFont: 'Sintony', sans-serif;
$codeFont: "Source Code Pro", "Courier New", monospace;
$normalFontSize: 1.2em;

$normalBgColor: rgb(245, 245, 245);
$codeBgColor: rgb(240, 240, 240);
$twitterColor: #4099FF;
$githubColor: rgb(96, 176, 68);

$normalFontColor: black;
$linkFontColor: rgb(0, 0, 136);
$lighterFontColor: rgb(117, 117, 117);
$codeFontColor: rgb(70, 70, 70);
$metaFontColor: rgb(70, 70, 70);

$normalLineHeight: 1.5;
$metaLineHeight: 1.0;
$codeLineHeight: 1.0;

$codeBorderColor: rgb(200, 200, 200);
$quoteBorderColor: rgb(117, 117, 117);

body {
	font: {
		family: $normalFont;
		size: $normalFontSize;
	}
  line-height: $normalLineHeight;
	color: $normalFontColor;
  background-color: $normalBgColor;
}

.content {
	padding: 0 10px;
}
.container {
	width: 100%;
}
a {
  color: $linkFontColor;
  text-decoration: none;
	&:hover {
  	text-decoration: underline;
	}
}
header {
	a, a:hover {
		color: $normalFontColor;
		text-decoration: none;
	}
	h1 {
		font-weight: bold;
		font-size: 110%;
		padding: 0;
		margin: 3px;
	}
	h2 {
		font-size: 80%;
		color: $lighterFontColor;
		padding: 0;
		margin: 3px;
	}
}
.meta {
	line-height: $metaLineHeight;
}
blockquote {
	margin: 0;
  border-left: 5px solid $quoteBorderColor;
	p {
		margin-left: 10px;
		color: $lighterFontColor;
	}
}
code {
  color: $codeFontColor;
	background-color: $codeBgColor;
  font-family: $codeFont;
	border: 1px solid $codeBorderColor;
	margin: 1px;
	padding: 1px 3px;
	font-size: 85%;
	border-radius: 3px;
}
pre {
	background-color: $codeBgColor;
	padding: 5px;
	@include border-radius(5px);
	border: 5px solid darken($codeBorderColor, 10%);
	overflow: auto;
	width: auto;
	line-height: 1.1;

	code {
		background-color: inherit;
		border: 0;
		margin: 0;
		padding: 0;
	}
}
footer {
	min-height: 200px;
	margin: 20px 0;
}
time, small {
	color: $metaFontColor;
	font-size: 70%;
}
.left, .middle {
	float: left;
}
.middle {
	text-align: center;
}
nav .middle {
	margin-top: 0.4em;
}
.right {
	float: right;
	text-align: right;
}
.title {
	width: 60%;
}
.social {
	width: 40%;
	a.huge {
		display: inline-block;
		@include single-transition(all, 0.4s, ease);
		&:hover {
			&.github {
				color: $githubColor;
			}
			&.twitter {
				color: $twitterColor;
			}
			@include transform(scale(1.1) rotate(10deg));
		}
	}
}
.half {
	width: 50%;
}
.quarter {
	width: 25%;
}
.huge {
	font-size: 200%;
}
.big {
	font-size: 110%;
}
ul {
	padding: 0;
	margin: 20px 0;
	list-style: none;
}

@media all and (min-width: 40em) {
	.content {
		padding: 0 10%;
	}
	body {
		font-size: 1.3em;
	}
}

@media all and (min-width: 70em) {
	.content {
		padding: 0;
		max-width: 900px;
		margin: 0 auto;
	}
	body {
		font-size: 1.4em;
	}
}
