/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font-family: 'Sintony', sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	color: black;
  background-color: rgb(245, 245, 245);
}
.content {
	padding: 0 10px;
}
.container {
	width: 100%;
}
a {
  color: rgb(0, 0, 136);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header a, header a:hover {
	color: black;
	text-decoration: none;
}
header h1 {
	font-weight: bold;
	font-size: 110%;
	padding: 0;
	margin: 3px;
}
header h2 {
	font-size: 80%;
	color: rgb(117, 117, 117);
	padding: 0;
	margin: 3px;
}
.meta {
	line-height: 1.0;
}
blockquote {
	margin: 0;
  border-left: 5px solid rgb(117, 117, 117);
}
blockquote p {
	margin-left: 10px;
	color: rgb(117, 117, 117);
}
code {
  color: rgb(70, 70, 70);
	background-color: rgb(230, 230, 230);
  font-family: "Source Code Pro", "Courier New", monospace;
	border: 1px solid rgb(200, 200, 200);
	margin: 1px;
	padding: 1px 3px;
	font-size: 85%;
	border-radius: 3px;
}
pre {
	background-color: rgb(230, 230, 230);
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgb(200, 200, 200);
	overflow: auto;
	width: auto;
	line-height: 1.1;
}
pre code {
	background-color: inherit;
	border: 0;
	margin: 0;
	padding: 0;
}
footer {
	min-height: 200px;
	margin: 20px 0;
}
time, small {
	color: rgb(70, 70, 70);
	font-size: 70%;
}
.left, .middle {
	float: left;
}
.middle {
	text-align: center;
}
.right {
	float: right;
	text-align: right;
}
.title {
	width: 60%;
}
.social {
	width: 40%;
}
.half {
	width: 50%;
}
.quarter {
	width: 25%;
}
.huge {
	font-size: 200%;
}
.big {
	font-size: 110%;
}
ul {
	padding: 0;
	margin: 20px 0;
	list-style: none;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@media all and (min-width: 40em) {
	.content {
		padding: 0 10%;
	}
	body {
		font-size: 1.3em;
	}
}

@media all and (min-width: 70em) {
  /* Style adjustments for viewports that meet the condition */
	.content {
		padding: 0;
		max-width: 900px;
		margin: 0 auto;
	}
	body {
		font-size: 1.4em;
	}
}
